{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var products_url = "{{=URL('default', 'get_products')}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" style="display:none">
        <div class="control_bar">
            <div class="search_div col-md-9">
                <span v-if="!show_cart">
                    <input class="search_input" v-model="product_search"/>
                    <button class="btn btn-success"><i class="fa fa-search fa-lg"></i></button>
                </span>
                <span v-if="show_cart" class="shopping_cart_title"><i class="fa fa-shopping-cart"></i> Your Shopping Cart</span>
            </div>
            <div class="shopping_button col-md-3">
                <span v-if="!show_cart">
                <button class="btn btn-warning" v-on:click="toggle_show_cart()">
                    <i class="fa fa-lg fa-shopping-cart"></i> ${cart_size}
                </button>
                </span>
                <span v-if="show_cart">
                    <button class="btn btn-success" v-on:click="toggle_show_cart()">
                        Continue shopping
                    </button>
                    <button class="btn btn-primary">
                        Checkout
                    </button>
                </span>
            </div>
        </div>

        <div class="clearfix visible-xs-block"></div>

        <div id="products_list">
            <div v-for="product in products">
                <div class="col-md-3">
                    <img v-bind:src="product.image_url" width="100%" class="product_image"/>
                </div>
                <div class="col-md-7 product_info">
                    <div class="product_name"><h2>${product.product_name}</h2></div>
                    <div class="product_quantity_price">
                        <span class="product_price">$ ${product.price}</span>
                        <span class="product_quantity">Quantity in stock: ${product.quantity}</span>
                        <span class="buy_buttons">
                            <button class="btn btn-secondary" v-on:click="inc_desired_quantity(product._idx, 1)"><i class="fa fa-plus"></i></button>
                            <span class="desired_quantity">${product.desired_quantity}</span>
                            <button class="btn btn-secondary" v-on:click="inc_desired_quantity(product._idx, -1)"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-danger" v-on:click="buy_product(product._idx)"><i class="fa fa-lg fa-shopping-cart"></i> Buy</button>
                        </span>
                    </div>
                    <div class="product_description">
                        <p>${product.description}</p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
