/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 6, ../sass/_main.scss */
.main_content input.search_input {
  width: 90%;
}
/* line 9, ../sass/_main.scss */
.main_content button:focus {
  border-color: white;
  outline: none;
}
/* line 14, ../sass/_main.scss */
.main_content div.product_description {
  margin-top: 15px;
}
/* line 17, ../sass/_main.scss */
.main_content span.buy_buttons {
  margin-left: 30px;
}
/* line 20, ../sass/_main.scss */
.main_content span.product_quantity {
  margin-left: 30px;
}
/* line 23, ../sass/_main.scss */
.main_content span.product_price {
  font-size: 140%;
  font-weight: bold;
}
/* line 27, ../sass/_main.scss */
.main_content .product_image {
  max-width: 300px;
}
/* line 30, ../sass/_main.scss */
.main_content .shopping_button {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 34, ../sass/_main.scss */
.main_content .search_div {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 38, ../sass/_main.scss */
.main_content .shopping_cart_title {
  font-size: 250%;
}
